/* .link_name{
list-style-type: none ;
text-decoration-line: none;
color: black;
}

.li a{
    display: block;
    list-style-type: none ;
    text-decoration-line: none;
   
} */


.ul{
list-style-type: none;
margin: 0%;
padding: 0%;
width: 60px;
}

.li a{
    display: block;

}
