<div class="sidebar">
    <div class="logo-details">
        <span class= "logo_name"> coding lab 

        </span>
    </div>

  

    <ul class="nav_list">
    <li>
        <a href="#">
            <box-icon type='solid' name='cube'></box-icon>
            <span class="link_name">Setting</span>
        </a>
    </li>


    <li>
        <a href="https://www.google.com/?client=safari">
            <i class='bx bxs-home' ></i>
            <span class="link_name">Home</span>
        </a>
    </li>

    <li>
        <a href="https://www.google.com/?client=safari">
            <i class='bx bx-pyramid'></i>
            <span class="link_name">Watchlist</span>
        </a>
    </li>


    <li>
        <a href="https://www.google.com/?client=safari">
            <i class='bx bxs-bar-chart-alt-2'></i>
            <span class="link_name">Progress</span>
        </a>
    </li>


    <li>
        <a href="https://www.google.com/?client=safari">
            <i class='bx bxs-log-out-circle' ></i>
            <span class="link_name">History</span>
        </a>
    </li>



    <li>
        <a href="https://www.google.com/?client=safari">
            <i class='bx bxs-log-out-circle' ></i>
            <span class="link_name">Setting</span>
        </a>
    </li>
</ul>
  
   
</div>